@import '../../assets/styles/mixins';

:host {
  position: absolute;
  width: calc(100% - 40px);
}

.contact {
  @include flex-direction(column);

  &__details {
    @include flex-direction(column);
    margin-bottom: 20px;
  }

  &__address {
    @include flex-direction(column);
    margin-bottom: 20px;
  }

  &__social {
    @include flex-direction(column);
  }
}
