<div class="menu">
  <app-hamburger [(isActive)]="isActive"></app-hamburger>
  <div [@slideInOut]="animationState" class="menu__content" [class.menu__content--is-active]="isActive">
    <div class="container container--menu">
      <div class="menu__items">
        <a routerLink="/services" routerLinkActive="active" (click)="isActive = false">{{'services' | translate}}</a>
        <a routerLink="/customers" routerLinkActive="active" (click)="isActive = false">{{'customers' | translate}}</a>
        <a routerLink="/contact" routerLinkActive="active" (click)="isActive = false">{{'contact' | translate}}</a>
        <app-select-language></app-select-language>
      </div>
    </div>
  </div>
  <a class="backdrop" *ngIf="isActive" (click)="isActive = false"></a>
</div>
