@import '../assets/styles/helpers';
:host {
    @include flexbox;
    @include flex-direction(column);
    background: linear-gradient(rgba(158, 166, 175, 0.9), rgba(0, 0, 0, 0.1)), url('/assets/images/background1.jpg') center;
    background-blend-mode: hard-light;
    background-size: cover;
    height: 100vh;
}

.logo {
    background: url('/assets/images/logo_pos.svg') no-repeat;
    background-position: center;
    background-size: contain;
    height: 130px;
    margin-bottom: 20px;
    &-wrapper {
        height: 210px;
    }
}

h1 {
    font-family: Brother-1816-Bold;
    @include align-self(center);
}

p {
    @include align-self(center);
}

.cookie-consent {
    position: fixed;
    z-index: 100;
    bottom: 0;
    background-color: $konsultika-blue;
    width: calc(100% - 40px);
    left: 0;
    padding: 20px;
    justify-content: center;
    border-top: 1px solid;
    flex-wrap: wrap;
    &__message {
        margin-right: 10px;
        margin-bottom: 10px;
        @include media('>=tablet') {
            margin-right: 30px;
            margin-bottom: 30px;
        }
        display: block;
    }
    &__button {
        align-self: center;
    }
}

@include media('>=tablet') {
    .ingress {
        font-size: 30px;
    }
}