<h1>{{'services' | translate}}</h1>
<p>{{'servicesIntro' | translate}}</p>
<h2>{{'technologiesAndFrameworks' | translate}}</h2>
<ul>
  <li>Angular <span class="outline">//</span> React <span class="outline">//</span> Vue.js</li>
  <li>HTML <span class="outline">//</span> CSHTML</li>
  <li>SCSS <span class="outline">//</span> CSS</li>
  <li>TypeScript <span class="outline">//</span> JavaScript</li>
  <li>.NET <span class="outline">//</span> C#</li>
  <li>CMS <span class="outline">//</span> Episerver <span class="outline">//</span> Umbraco</li>
</ul>
