@import 'helpers';

body {
  margin: 0;
  font-family: Brother-1816-Medium;
  color: white;
  font-size: 16px;
  background-color: $konsultika-blue;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Brother-1816-Light;
  font-weight: normal;
  font-style: normal;
  color: $konsultika-orange;
}

h1 {
  font-size: 28px;

  @include media('>tablet') {
    font-size: 38px;
  }
}

.intro {
  font-family: Brother-1816-Light;
  font-size: 18px;
}

a {
  color: $konsultika-orange;
}

div {
  @include flexbox;
  @include flex(0 1 auto);
}

button {
  cursor: pointer;
  background-color: $konsultika-orange;
  font-family: Brother-1816-Medium;
  color: $konsultika-blue;
  height: 100%;
  padding: 10px 20px;
  border: none;
  transition: all 0.5s;
  position: relative;
  font-size: 16px;

  &:hover {
    transition: all 0.5s;
    position: relative;
    background-color: rgba(255, 163, 0, 0.8);
  }
}

:focus {
  outline: 0;
}

.ingress {
  font-family: Brother-1816-Light-Italic;
}

.medium {
  font-family: Brother-1816-Medium-Italic;
}

.container {
  @include flex-direction(column);

  @include media('>desktop') {
    max-width: 1024px;
    width: 1024px;
    margin: 0 auto;
  }

  margin: 0 20px;

  &--menu {
    margin-top: 59px;
    margin-bottom: 59px;
    @include justify-content(space-between);
  }
}

footer {
  @include flexbox;
  @include justify-content(flex-end);
  @include flex-direction(column);
  @include flex(0 1 100%);
  margin-bottom: 10px;
}

.outline {
  color: $konsultika-orange;
}

.body {
  padding: 0 20px;
  background-size: contain;
  display: flex;
  flex-direction: column;
  background-color: $konsultika-blue;
  border-top: 1px solid;
  height: 100%;
  position: relative;

  @include media('>desktop') {
    max-width: 1024px;
    width: 1024px;
    margin: 0 auto;
    overflow-x: hidden;
  }

  &>* {
    position: absolute;
  }
}
